on early-init
    start set_permissive
    # start gpu ondemand governor
    exec /system/bin/ondemand_gpu.sh
    start gpu-freq

on property:dev.bootcomplete=1
    chmod 0666 /dev/xiaomi-touch

on property:dev.bootcomplete=1 && property:persist.sys.matisse.dt2w=*
    exec /system/bin/xiaomi-touch 14 ${persist.sys.matisse.dt2w}

service set_permissive /system/bin/set_permissive.sh
    class main
    user root
    seclabel u:r:su:s0
    disabled

on fs 
    #haptic Start
    mkdir /mnt/vendor/persist/haptics 0755 system system
    start lights-matisse
    #haptic End

on boot
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/max_brightness

service lights-matisse /system/bin/hw/android.hardware.lights-service.matisse
    class hal
    user system
    group system
    shutdown critical

service gpu-freq /system/bin/gpu-freq
    class main
    user root
	seclabel u:r:su:s0